<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet"> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap"
      rel="stylesheet"
    />

    <!-- <link rel="stylesheet" href="/static/lib/css/common.css" /> -->
    <link rel="stylesheet" href="/static/lib/css/common.css" />
    <link rel="stylesheet" href="/static/lib/css/root.css" />
    <!-- <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    /> -->
    <link rel="shortcut icon" href="/static/favicon.ico" />

    <title>Episteme</title>
  </head>
  <body>
    {{$IsCategoryPage:=(eq $.PageInfo.Page $.RoutesMap.Categories)}}
    
    <header class="page_header__header">
      <header class="page_header__header">
        <p>
          <a class="ONLY__show_in_mobile_view" href="{{if $IsCategoryPage}}/{{else}}/categories{{end}}"
          >{{if $IsCategoryPage}}Home{{else}}All Categories{{end}}</a>
          <a href="https://github.com/ritsource/episteme/blob/master/README.md"
            >About</a
          >
          <a href="/pinned">Pinned Websites</a>
        </p>
      </header>
    </header>
    <div class="container__div">
      <div class="page_body__div">
        {{if ne .PageInfo.Page .RoutesMap.Categories}}
        <nav class="sidebar__nav">
          <div class="sidebar__nav__div">
            <h3>Categories</h3>
            <!-- <h2>Categories</h2> -->

            {{$SelectedCategoryTitle_LowerCase:=($.SelectedCategoryTitle | ToLower)}}

            {{range .Categories}}
            <p>
              {{$Title_LowerCase:=(.Title | ToLower)}}
              <a
                class="common_text_styles {{if eq $Title_LowerCase $SelectedCategoryTitle_LowerCase}} sidebar_a_selected_category {{end}}"
                href="/?category={{$Title_LowerCase}}"
                >{{.Title}}</a
              >
            </p>
            {{end}}
          </div>
        </nav>
        {{end}}

        <article class="posts_container__article">
          {{if not $IsCategoryPage}}
            <h1 class="posts_container_title__h1">{{.SelectedCategoryTitleFormatted}}</h1>
          {{end}}
          {{range .Posts}}
          <div class="each_post__div">
            <!-- <p class="post_title_p common_text_styles">
              {{.Title}} ..
            </p> -->
            <p class="post_title_p common_text_styles">
              <!-- <span>&#x25CF;</span>{{.Title}} .. -->
              {{.Title}}
            </p>
            <p class="post_description_p common_text_styles">
              {{.Description}}
            </p>
            <!-- <h3 class="post_title_p"><span>&#x25CF;</span>{{.Title}}</h3> -->
            <ul>
              {{range .Links}}
              <li class="common_text_styles">
                {{.Description}} <a href="{{.Src.Url}}">{{.Src.Text}}</a>
              </li>
              {{end}}
            </ul>
          </div>
          {{end}}
        </article>
      </div>

      <!-- <footer>Footer</footer> -->
    </div>

    <script src="/static/lib/js/index.js"></script>
  </body>
</html>
